.footer {
  padding-top: 25px;
  padding-bottom: 21px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__line {
  margin-bottom: 22px;
}


.footer__copyright {
  align-self: flex-end;  
  font-size: 12px;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
}
