.latest {
  padding-top: 20px;
  padding-bottom: 11px;
}

.latest__title {
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 700;
}

.latest__news-wrapper {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
