.news {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 20px;
  word-wrap: break-word;
}

.news__item {
  position: relative;
  flex-basis: 270px;
  max-width: 270px;
  min-height: 360px;
}

.news__img {
  margin-bottom: 10px;
  width: 270px;
  height: 200px;
}

.news__title {
  margin-bottom: 10px;
  max-height: 39px;
  overflow: hidden;
  width: 240px;
  font-size: 16px;
  font-weight: 700;
}

.news__text {
  margin-bottom: 10px;
  max-height: 65px;
  overflow: hidden;
  font-size: 12px;
  font-weight: 300;
}

.news__data {
  position:absolute;
  bottom:0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.news__data-date-wrapper {
  flex-basis: 90px;
  display: flex;
  justify-content: space-between;
}

.news__data-author {
  max-width: 50%;
  max-height: 13px;
  overflow: hidden;
}

.news__arrow {
  display: inline-block;
  position: absolute;
  top: 215px;
  right: 0;
  width: 24px;
  height: 24px;
  background: url('../img/arrow.svg') no-repeat;
}

